<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanghui.pusher.persistence.BrowserSettingsMapper" >
    <resultMap id="BaseResultMap" type="com.zhanghui.pusher.domain.BrowserSettings" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="home_page" property="homePage" jdbcType="VARCHAR" />
        <result column="access_day_interval" property="accessDayInterval" jdbcType="INTEGER" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insert" parameterType="com.zhanghui.pusher.domain.BrowserSettings">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
        insert into browser_settings(
        `home_page`,
        `access_day_interval`,
        `gmt_create`)
        values(
        #{homePage,jdbcType=VARCHAR},
        #{accessDayInterval,jdbcType=INTEGER},
        now())
    </insert>

    <delete id="deleteById">
        delete from browser_settings where id=#{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByIds">
        delete from browser_settings where id in
        <foreach collection="array" item="ids"  open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <update id="updateByIdSelective" parameterType="com.zhanghui.pusher.domain.BrowserSettings">
        update browser_settings
        <set>
            <if test="fn.notEmpty(homePage)">
                home_page=#{homePage,jdbcType=VARCHAR},
            </if>
            <if test="fn.notEmpty(accessDayInterval)">
                access_day_interval=#{accessDayInterval,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <sql id="Base_Column_List">
        `id`,
        `home_page`,
        `access_day_interval`,
        `gmt_create`,
        `gmt_modified`
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from browser_settings
    </select>
    <sql id="select_count_where_sql">
        <where>
            <if test="query.name != null">
                home_page like #{query.name}
            </if>
        </where>
    </sql>
    <select id="count" resultType="java.lang.Integer" parameterType="com.zhanghui.pusher.common.Paginator" >
        select count(*)
        from browser_settings
        <include refid="select_count_where_sql"/>
    </select>
    <select id="select" resultMap="BaseResultMap" parameterType="com.zhanghui.pusher.common.Paginator" >
        select
        <include refid="Base_Column_List" />
        from browser_settings
        <include refid="select_count_where_sql"/>
        order by id desc limit #{start},#{sqlSize}
    </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/> from browser_settings where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>